@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>D.O.R.A. The Discovery Explorer</h1>
    <p class="lead">The Discovery Operations and Reporting Assistant, D.O.R.A. - is a project that facilitates automated discovery and storage of customer information. 
    The project includes modules for collecting a data from a number of environments such as Active Directory, Microsoft Exchange, Microsoft Hyper-V, VMWare, and more. </p>
    <p><a href="http://projectdora.rswconsulting.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Customer</h2>
        <p>
            Use this link to add a new customer to the DORA database. A customer must be added first before generating discovery scripts or uploading discovery information. 
        </p>
        <p><a class="btn btn-default" href="http://projectdora.rswconsulting.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Discovery Scripts</h2>
        <p>Discovery Scripts are utilities used to export customer information, and upload that information to DORA. This information is associated with the customer, and 
        reports can be generated to analyze this data.</p>
        <p><a class="btn btn-default" href="http://projectdora.rswconsulting.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Report on Customer Data</h2>
        <p>This section includes customer reports analyzing the enviornment data that has been uploaded. </p>
        <p><a class="btn btn-default" href="http://projectdora.rswconsulting.com">Learn more &raquo;</a></p>
    </div>
</div>